version: "3.8"

services:
  jmeter:
    build: .
    container_name: jmeter-prometheus
    ports:
      - "9270:9270"       # Prometheus metrics
      - "5100:5100"       # RMI local port
      - "5101:5101"       # RMI server port
    volumes:
      - /home/ubuntu/performance-test:/tmp/performance-test
      - /home/ubuntu/results:/tmp/results
    restart: always
